@font-face {
  font-family: GilroyExtraBold;
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: GilroyLight;
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
}

@font-face {
  font-family: OpenSansLight;
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'OpenSansLight', sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----footer----*/
header {
  background-color: #f7e296;
  margin-top: 40px;
  position: relative;
  padding: 50px 60px 0;
}

.logo a {
  margin: 0;
  position: absolute;
  font-family: 'GilroyExtraBold', sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #000;
  left: 60px;
  top: -24px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo a[href]:hover,
.logo a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.logo a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.search-form {
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.search-form input {
  border: none;
  margin: 0;
  padding: 0;
  background-color: #f7e296;
  min-height: 51px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-left: 40px;
  padding-right: 20px;
}

.search-form::after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/search.svg);
  background-repeat: no-repeat;
  top: 17px;
  left: 2px;
}

.search-form input:focus {
  border-bottom: 2px solid black;
}

.search-form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::-ms-input-placeholder,
.search-form input:focus::-ms-input-placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover:-ms-input-placeholder,
.search-form input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover::-webkit-input-placeholder,
.search-form input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover::placeholder,
.search-form input:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:focus ~ .search-button {
  display: block;
}

.search-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 2px solid black;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #000;
  color: #fff;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.sub-nav {
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sub-nav li {
  width: 100px;
  position: relative;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sub-nav li:first-child {
  width: 260px;
}

.sub-nav a {
  color: #000;
  text-decoration: none;
}

.sub-nav a::after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  left: 0;
}

.sub-nav li:nth-child(1) a::after {
  width: 13px;
  height: 12px;
  background-image: url(../img/icon/user.svg);
  top: 9px;
}

.sub-nav li:nth-child(2) a::after {
  width: 10px;
  height: 10px;
  background-image: url(../img/icon/compare.svg);
  top: 11px;
}

.sub-nav li:nth-child(3) a::after {
  width: 12px;
  height: 12px;
  background-image: url(../img/icon/cart.svg);
  top:9px;
}

.sub-nav a:first-of-type:hover,
.sub-nav a:first-of-type:focus {
  opacity: 0.6;
}

.sub-nav a:first-of-type:active {
  opacity: 0.3;
}

.user-login {
  margin-right: 17px;
}

.logout-button {
  opacity: 0.3;
}

.logout-button:hover,
.logout-button:focus {
  opacity: 0.6;
}

.main-nav-bottom {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 120px;
}

.main-nav-bottom a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'GilroyExtraBold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3px;
  position: relative;
}

.main-nav-bottom a:hover,
.main-nav-bottom a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav-bottom a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-link {
  width: 440px;
  margin-bottom: 40px;
  position: relative;
}

.catalog-link a {
  padding-right: 20px;
}

.sub-nav-bottom {
  display: none;
  position: absolute;
  letter-spacing: normal;
  margin-top: 20px;
  top: 0;
}

.sub-nav-bottom a {
  text-transform: none;
  font-family: 'OpenSansLight', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: normal;
}

.sub-nav-bottom ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav-bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 500px;
}

.main-nav-bottom-block li {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog-link > a::after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url('../img/icon/plus.svg');
  background-repeat: no-repeat;
  top: 3px;
  right: -10px;
  opacity: 0.3;
}

.catalog-link a:hover ~ .sub-nav-bottom,
.catalog-link a:focus ~ .sub-nav-bottom {
  ddisplay: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.sub-nav-bottom {
  background-color: aqua;
}


















.display-none {
  display: none;
}